USE [DGRLSV]
GO
/****** Object:  Table [dbo].[DGRenLuyen]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DGRenLuyen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NamHoc] [int] NOT NULL,
	[MaHK] [nvarchar](10) NOT NULL,
	[MSSV] [nvarchar](250) NOT NULL,
	[MaLC] [int] NOT NULL,
	[DiemSVDG] [int] NULL,
	[DiemLT] [int] NULL,
	[DiemCVHT] [int] NULL,
 CONSTRAINT [PK_DGRenLuyen_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [nvarchar](250) NOT NULL,
	[TenGV] [nvarchar](250) NULL,
	[MaKhoa] [nvarchar](250) NULL,
	[TenTaiKhoan] [nvarchar](250) NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[MSSV] [nvarchar](250) NOT NULL,
	[NamHoc] [int] NOT NULL,
	[MaHK] [nvarchar](10) NOT NULL,
	[TongDiemSV] [int] NULL,
	[TongDiemLT] [int] NULL,
	[TongDiemCVHT] [int] NULL,
	[XepLoai] [nvarchar](250) NULL,
 CONSTRAINT [PK_KetQua] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[NamHoc] ASC,
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [nvarchar](250) NOT NULL,
	[TenKhoa] [nvarchar](250) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [nvarchar](250) NOT NULL,
	[TenLop] [nvarchar](250) NULL,
	[MaKhoa] [nvarchar](250) NULL,
	[MaGV] [nvarchar](250) NULL,
	[MaLT] [nvarchar](250) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuaChonChiTiet]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuaChonChiTiet](
	[MaLC] [int] NOT NULL,
	[MaCT] [int] NULL,
	[MoTa] [nvarchar](500) NULL,
	[DiemMin] [int] NULL,
	[DiemMax] [int] NULL,
 CONSTRAINT [PK_LuaChonChiTiet_1] PRIMARY KEY CLUSTERED 
(
	[MaLC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiDungChiTiet]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiDungChiTiet](
	[MaCT] [int] NOT NULL,
	[MaTC] [int] NULL,
	[NoiDung] [nvarchar](500) NULL,
	[DiemCTMax] [int] NULL,
 CONSTRAINT [PK_NoiDungChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [nvarchar](250) NOT NULL,
	[HoTen] [nvarchar](250) NULL,
	[NgaySinh] [date] NULL,
	[QueQuan] [nvarchar](500) NULL,
	[MaLop] [nvarchar](250) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NULL,
	[ChucVu] [nvarchar](250) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TieuChiDanhGia]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TieuChiDanhGia](
	[MaTC] [int] NOT NULL,
	[NoiDung] [nvarchar](500) NULL,
	[DiemTCMax] [int] NULL,
 CONSTRAINT [PK_TieuChiDanhGia] PRIMARY KEY CLUSTERED 
(
	[MaTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewLuaChonChiTiet]    Script Date: 5/19/2020 9:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewLuaChonChiTiet]
AS
SELECT        t.MaTC, t.NoiDung AS NoiDungTC, t.DiemTCMax, n.MaCT, n.NoiDung AS NoiDungCT, n.DiemCTMax, l.MaLC, l.MoTa AS NoiDungLC, l.DiemMin, l.DiemMax
FROM            dbo.LuaChonChiTiet AS l LEFT OUTER JOIN
                         dbo.NoiDungChiTiet AS n ON l.MaCT = n.MaCT LEFT OUTER JOIN
                         dbo.TieuChiDanhGia AS t ON n.MaTC = t.MaTC
GO
INSERT [dbo].[LuaChonChiTiet] ([MaLC], [MaCT], [MoTa], [DiemMin], [DiemMax]) VALUES (1, 1, N'Có đi học chuyên cần, đúng giờ, nghiêm túc trong giờ học', 0, 4)
INSERT [dbo].[LuaChonChiTiet] ([MaLC], [MaCT], [MoTa], [DiemMin], [DiemMax]) VALUES (2, 2, N'Có đăng ký, thực hiện, báo cáo đề tài nghiên cứu khoa học đúng tiến độ hoặc có đăng ký, tham dự các cuộc thi học thuật cấp Khoa trở lên.', 0, 2)
INSERT [dbo].[LuaChonChiTiet] ([MaLC], [MaCT], [MoTa], [DiemMin], [DiemMax]) VALUES (3, 3, N'Có ý thức tham gia các câu lạc bộ, câu lạc bộ học thuật, các hoạt động học thuật, hoạt động ngoại khoá', 0, 2)
GO
INSERT [dbo].[NoiDungChiTiet] ([MaCT], [MaTC], [NoiDung], [DiemCTMax]) VALUES (1, 1, N'Có đi học chuyên cần, đúng giờ, nghiêm túc trong giờ học', 4)
INSERT [dbo].[NoiDungChiTiet] ([MaCT], [MaTC], [NoiDung], [DiemCTMax]) VALUES (2, 1, N'Có đăng ký, thực hiện, báo cáo đề tài nghiên cứu khoa học đúng tiến độ hoặc có đăng ký, tham dự các cuộc thi học thuật cấp Khoa trở lên', 2)
INSERT [dbo].[NoiDungChiTiet] ([MaCT], [MaTC], [NoiDung], [DiemCTMax]) VALUES (3, 1, N'Có ý thức tham gia các câu lạc bộ, câu lạc bộ học thuật, các hoạt động học thuật, hoạt động ngoại khoá', 2)
GO
INSERT [dbo].[TaiKhoan] ([Username], [Password], [ChucVu]) VALUES (N'admin', N'1', N'admin')
GO
INSERT [dbo].[TieuChiDanhGia] ([MaTC], [NoiDung], [DiemTCMax]) VALUES (1, N'Đánh giá ý thức tham gia học tập', 20)
INSERT [dbo].[TieuChiDanhGia] ([MaTC], [NoiDung], [DiemTCMax]) VALUES (2, N'Đánh giá về ý thức chấp hành nội quy, quy chế, quy định trong nhà trường', 20)
INSERT [dbo].[TieuChiDanhGia] ([MaTC], [NoiDung], [DiemTCMax]) VALUES (3, N'Đánh giá ý thức và kết quả tham gia các hoạt động chính trị - xã hội, văn hóa, văn nghệ, thể thao, phòng chống các tệ nạn xã hội', 20)
GO